{%- if cart.cart_level_discount_applications.size > 0 -%}
  {%- for discount in cart.cart_level_discount_applications -%}
    <p class="cart__footer__discount">
      <span class="cart__footer__label">
        Discount:
      </span>

      <span class="cart__footer__discount-badge">
        <span class="cart__footer__discount-name">
          {{ discount.title }}
        </span>
        <span class="cart__footer__discount-value">
          -{{ discount.total_allocated_amount | money }}
        </span>
      </span>
    </p>
  {%- endfor -%}
{%- endif -%}
