.bundle-banner {
  width: 100%;
  padding: 35px 0;
}

.bundle-banner__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 32px;
  margin: 0 auto;
  padding: 0 24px;
}

.bundle-banner__content {
  flex: 50% 1 1;
  color: #000;
}

.bundle-banner__heading {
  font-size: 48px;
  line-height: 1;
}

.bundle-banner__subheading {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1;
}

.bundle-banner__image {
  flex: 50% 1 1;
  width: 100%;
}

@media (max-width: 768px) {
  .bundle-banner {
    padding: 70px 24px;
  }

  .bundle-banner__container {
    flex-direction: column;
    gap: 38px;
  }

  .bundle-banner__heading {
    font-size: 40px;
    text-align: center;
  }

  .bundle-banner__subheading {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
}
