.bundle-advantage {
  width: 100%;
  position: relative;
  background: linear-gradient(198.25deg, #D6E5F1 12.7%, #F1DFFE 50.3%, #F9E4E3 87.9%);
}

.bundle-advantage__marquee {
  width: 100%;
  height: 46px;
  overflow: hidden;
  position: relative;
  background-color: #000;;
  color: #fff;
  padding: 12px 0;
}

.bundle-advantage__marquee-content {
  animation: marquee 20s linear infinite;
  align-items: center;
  display: flex;
  gap: 25px
}

.bundle-advantage__marquee-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.bundle-advantage__content {
  padding: 90px 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.bundle-advantage__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  text-align: center;
}

.bundle-advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 50px;
  justify-content: center;
}

.bundle-advantage__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.bundle-advantage__item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

@media (max-width: 768px) {
  .bundle-advantage__marquee-text {
    font-size: 16px;
  }

  .bundle-advantage__content {
    padding: 70px 0;
  }

  .bundle-advantage__title {
    font-size: 40px;
  }

  .bundle-advantage__list {
    gap: 20px;
  }

  .bundle-advantage__item-title {
    font-size: 16px;
  }
}
